apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: knative-service
  namespace: keda-knative
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt

spec:
  template:
    spec:
      containers:
      - image: ghcr.io/kristijanboshev/interoperable-portable-agnostic-stack:v1.0.0
        name: todo-container
        ports:
        - containerPort: 5000
          protocol: TCP
        livenessProbe:
          httpGet:
            path: /healthz
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 1
          successThreshold: 1
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /healthz
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 5
          timeoutSeconds: 1
          successThreshold: 1
          failureThreshold: 3
        resources: {}